.signContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 45px 35px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.title {
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signInput {
  display: flex;
}
.signInput > input {
  display: flex;
  font-size: 16px;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.signButton {
  display: flex;
}
.signButton > button {
  opacity: 0.2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: transparent;
  transition: all 100ms;
}

@media (hover:hover) {
  .signButton > button:hover {
    opacity: 1;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .signContainer {
    padding: 45px 25px;
    width: calc(100% - 100px);
  }
}